.fixedHeader {
  position: fixed;
  z-index: 100;
  background-color: inherit;
}

.scrollableContent {
  position: relative;
  padding-top: 15vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titleBar {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2rem;
  margin-bottom: -4rem;
  padding-top: 0;
  column-gap: 10%;
  max-width: var(--navbar-max-width);
  width: 70vw;
}

.titleHeader {
  color: white;
  margin-left: 20%;
  font-size: 60px;
  font-family: 'JetBrains Mono';
}

/* About.module.css */

.customSteps .ant-steps-item-title {
  color: white !important; /* Change to the color you want */
}

/* Add this if you also want to change the color for the active step title */
.customSteps .ant-steps-item-active .ant-steps-item-title {
  color: #23d18b !important; /* Or any other color for the active title */
}

/* Add this if you also want to change the color for the finished step titles */
.customSteps .ant-steps-item-finish .ant-steps-item-title {
  color: #23d18b !important; /* Or any other color for finished titles */
}

.introduction {
  height: 35rem;
  width: 70vw;
  max-width: var(--navbar-max-width);
  margin-top: 7rem;
  font-family: 'JetBrains Mono';
  font-size: 14px;
}

.careerSection {
  height: 37rem;
  width: 70vw;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25%;
  max-width: var(--navbar-max-width);
  margin-top: 7rem;
  justify-content: space-evenly;
}

.projectsSection {
  height: 37rem;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 5%;
  max-width: var(--navbar-max-width);
  justify-content: space-evenly;
}

.cardContainer {
  perspective: 1500px; /* Adjust as necessary for the flip effect */
  position: relative;
}

.projectCard {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  --base-transform: rotateY(0deg); /* Default state */
  transform: var(--base-transform);
}

.projectCard.flipped {
  --base-transform: rotateY(180deg); /* Flip state */
}

.projectCard.expanded {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 700px; /* This can stay as is if it's the desired height */
  transform: translate(-50%, -50%) var(--base-transform);
  transition:
    width 0.6s,
    height 0.6s,
    transform 0.6s;
}

.cardFront {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBack {
  background: white; /* Or any other color as per the design */
  color: #333; /* Or any other color as per the design */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Drop shadow for depth */
  padding: 20px; /* Spacing inside the card */
  height: 100%; /* Full height of the parent */
  display: flex;
  flex-direction: column; /* Organize content in a column */
  transform: rotateY(-180deg);
}

.cardBack .closeButton {
  align-self: flex-end; /* Position the close button at the end */
  cursor: pointer;
  /* Style the close button accordingly */
}

.cardBack .title {
  font-size: 24px; /* Large text for the title */
  margin-bottom: 20px; /* Spacing after the title */
}

.cardBack .content {
  font-size: 16px; /* Standard text size */
  line-height: 1.6; /* Line height for readability */
}

.cardBack .additionalSection {
  margin-top: 20px;
  /* Styles for any additional sections */
}

.educationSection {
  height: 25rem;
  width: 70vw;
  margin: 12rem auto 0 auto;
  max-width: var(--navbar-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalSection {
  position: relative;
  height: 37rem;
  width: 70vw;
  max-width: var(--navbar-max-width);
  margin-top: 10rem;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.careerDeck {
  position: relative;
}

.mediumCard {
  position: absolute;
  width: 270px;
  height: 250px;
  border: 1px solid #ccc; /* Just for visibility, adjust as needed */
  border-radius: 4%;
  background-color: #fff; /* Adjust card background color as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mediumCard:hover {
  z-index: 200 !important;
  cursor: pointer;
}

/* Individual adjustments to each card for the stacked appearance */
.mediumCard:nth-child(1) {
  z-index: 4;
}

.mediumCard:nth-child(2) {
  z-index: 3;
  top: 50px; /* Slightly offset from the top card */
}

.mediumCard:nth-child(3) {
  z-index: 2;
  top: 100px; /* More offset */
}

.mediumCard:nth-child(4) {
  z-index: 1;
  top: 150px; /* Even more offset */
}

.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* background-color: skyblue; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform; /* Optimize animation performance */
}

/* TODO: Make media queries */
