.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--navbar-max-width);
  width: 70vw;
  z-index: 2;
  font-family: var(--font-mono);
  border: 2px solid rgba(77, 150, 255, 0.5); /* Adjust border color to fit the glassmorphic style */
  border-radius: 8px;
  padding: 0 1.5rem;

  /* Glassmorphism specific styles */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.title {
  font-size: 36px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.navButtons {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Creates four columns with equal width */
  gap: 5px; /* Adjust the gap size as needed */
  justify-content: center; /* Centers the grid within the navButtons div */
  align-items: center; /* Centers the grid items vertically within their cells */
  padding-right: 5px;
}

/* Class for the active navigation button */
.navButtonActive,
.navButtonActive:hover {
  background-color: #4d96ff !important; /* Blue background */
  color: #ffffff !important; /* White text */
  border-radius: 9999px !important; /* Fully rounded corners */
  border: 2px solid transparent;
}

/* Class for the regular navigation buttons */
.navButton {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid transparent;
}

.navButton:hover {
  background-color: transparent !important;
  border: 2px solid #4d96ff;
  border-radius: 9999px;
}

/* Media query for smaller screens */
@media (max-width: 1100px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 5%;
  }

  .title {
    width: 100%;
    justify-content: center; /* Center-align for visual appeal */
    text-align: center;
  }
  .navButtons {
    width: 50%; /* Full width on small screens for stacking */
    justify-content: center; /* Center-align for visual appeal */
    text-align: center; /* Ensure title text is centered if it's inline or inline-block */
  }

  .navButtons {
    grid-template-columns: 1fr 1fr; /* Stack buttons vertically */
    padding-right: 0; /* Remove padding-right on small screens */
    padding-bottom: 5px;
  }
}
